i n t r o d u c t i o n
c o n t e n t s .
p a g e
i x
t h e
a j a x
o f
i l i a d .
§
2 .
c y c l i c
e p i c s .
t h e
a e t h i o p i s .
3 .
t h e
l i t t l e
i l i a d
4 .
a j a x
a n d
t h e
a e a c i d a e .
l e g e n d
t h a t
a j a x
w a s
i n v u l n e r a b l e .
§
5 .
t h e
a j a x - t r i l o g y
o f
a e s c h y l u s .
( i )
κ ρ ί σ ι ς .
6 .
( i i )
θ ρ ῇ σ σ α ι .
7 .
( i i i )
σ α λ α μ ί ν ι α ι .
8 .
t h e
a j a x
o f
s o p h o c l e s .
a n a l y s i s .
9 .
d r a m a t i c
u n i t y
o f
t h e
p l a y .
1 0 .
t h e
v e t o
o n
t h e
b u r i a l .
1 1 .
t h e
i s s u e
t h u s
r a i s e d .
1 2 .
t h e
s u c c e s s i v e
m o o d s
o f
a j a x .
h i s
s p e e c h
i n
v e r s e s
6 4 6 — 6 9 2 .
1 3 .
h i s
i m p r e c a t i o n
u p o n
t h e
g r e e k s .
1 4 .
t h e
d i v i n e
j u d g m e n t .
a t h e n a .
1 5 .
o d y s s e u s .
1 6 .
t e u c e r .
h i s
s c e n e s
w i t h
t h e
a t r e i d a e .
m o d e r n
c r i t i c i s m
o n
t h i s
p a r t
o f
t h e
p l a y .
1 7 .
t e c m e s a .
t h e
c h o r u s .
1 8 .
t h e
t e u c e r
o f
s o p h o c l e s .
h i s
e u r y s a c e s .
§
1 9 .
t h e
s t o r y
o f
a j a x
i n
l a t e r
l i t e r a t u r e .
2 0 .
i l l u s t r a t i o n s
f r o m
a n c i e n t
a r t .
2 1 .
e v i d e n c e
f o r
t h e
d a t e
o f
t h e
p l a y .
§
2 2 .
t h e
t i t l e .
m a n u s c r i p t s ,
e d i t i o n s ,
e t c .
2 .
m s s .
3 .
s c h o l i a .
4 .
t h e
s t a t e
o f
t h e
t e x t .
l a c u n a e .
p r o p o s e d
t r a n s p o s i t i o n s .
i n t e r p o l a t i o n s .
§
5 .
e d i t i o n s .
m e t r i c a l
a n a l y s i s
.
l x
a n c i e n t
a r g u m e n t
t o
t h e
p l a y ;
d r a m a t i s
s t r u c t u r e
t e x t
a p p e n d i x .
i n d i c e s
.
2 1 3
.
2 4 i
α ι α ς
9 1
l i f e
i s
s w e e t e s t
b e f o r e
t h e
f e e l i n g s
a r e
a w a k e ,
f o r
l a c k
o f
f e e l i n g
i s
p a i n l e s s
o n e
l e a r n s
t o
k n o w
j o y
o r
p a i n .
b u t
w h e n
t h o u
s h a l t
c o m e
u n t o
t h a t
k n o w l e d g e ,
t h e n
m u s t
t h o u
s e e
t o
p r o v e
a m o n g
t h y
f a t h e r ʼ s
f o e s
o f
w h a t
m e t t l e
a n d
w h a t
s i r e
t h o u
a r t .
m e a n w h i l e
f e e d
o n
l i g t h t
b r e e z e s ,
a n d
n u r s e
t h y
t e n d e r
l i f e ,
f o r
t h i s
t h y
m o t h e r ʼ s
j o y .
n o
w o t ,
l e s t
a n y
o f
t h e
g r e e k s
a s s a i l
t h e e
w i t h
c r u e l
o u t r a g e ,
e v e n
w h e n
t h o u
h a s t
m e
n o
m o r e .
s o
t r u s t y
i s
t h e
w a r d e r
w h o m
i
w i l l
l e a v e
t o
g u a r d
t h e e ,
e v e n
t e u c e r ;
w h o
w i l
n o t
f a l t e r
i n
h i s
c a r e
f o r
t h e e ,
a l b e i t
n o w
h e
i s
f o l l o w i n g
f a r
p a t h ,
b u s i e d
w i t h
c h a s e
o f
f o e s .
m y
s e a f a r i n g
c o m r a d e s
o n
y o u ,
a s
o n
h i m ,
i
l a y
t h i s
t a s k
o f
a n d
g i v e
y e
m y
b e h e s t
t o
t e u c e r ,
t h a t
d i v i d e d
b e t w e e n
δ ε ί ξ ε ι ς ,
δ ε ί ξ η ς ,
δ ε ί ξ ῃ ς .
t h e
a l d .
h a s
τ ρ ά φ η ι σ
l :
t h e
h a s
b e e n
r e - t o u c h e d ,
b u t
d o e s
n o t
s e e m
t o
h a v e
b e e n
ε .
5 5 9
χ α ρ μ ο ν ή ν ]
m o r s t a d t
c o n j .
χ α ρ μ ο ν ή ,
a n d
s o
n a u c k
r e a d s .
6 6 0
ο ἶ δ α
i s
s u s p e c t e d
b y
r e i s k e ,
b l a y d e s ,
a n d
n a u c k . - ὑ β ρ ί σ ῃ ]
ὑ β ρ ί σ ε ι
r ,
a n d
b r u n c k .
5 6 3
ἔ μ π α
κ ʼ
ε ἰ
l ,
a ,
e t c . :
ἔ μ π α κ ʼ
ε ἰ
r ,
a l d . ,
b r u n c k .
5 6 4
i n
t h e
f i r s t
c o r r e c t o r
( s )
h a s
n o t e d ,
τ η λ ο υ ρ γ ό σ
( w h i c h ,
a s
m u s g r a v e
s a w ,
s h o u l d
b e
τ η λ ο υ ρ ό ς ) ;
a n d
a b o v e
τ η λ ω π ὸ σ
l a t e r
h a n d
h a s
w r i t t e n
τ η λ ο υ ρ ό ν . — θ ή ρ α ν ]
h a s
γ ρ .
φ ρ ο υ ρ ά ν ,
f r o m
s .
5 6 5
ἐ ν ά λ ι ο ς
a ,
e t c . ,
a n d
a l d . :
ε ἰ ν ά λ ι ο σ
f ,
a n d
o t h e r s .
π ν ε ύ μ α τ ο ς
ἐ π ι ρ ρ ο ῇ
ἀ έ ρ α
ὑ γ ρ ὸ ν
ἕ λ κ ο ν τ ε ς
5 6 2
τ ο ῖ ο ν
c p .
1 6 4 ,
2 1 8 ,
2 5 1 . — π υ λ ω ρ ὸ ν ,
g u a r d i a n ;
e u r .
t r o .
9 5 6
ν ή π ι ο ι
π α ῖ δ ε ς .
p l i n y
n .
1 8 .
3 4
z e p h y r u m
d i c i t
i n
p l a n t a s
n u t r i c i u m
e x e r c e r e .
l u c i a n
b i s
a c c u s .
1
τ ο ὺ ς
ἀ ν έ μ ο υ ς
φ υ τ ο υ ρ γ ο ῦ ν τ α ς .
w e
m i g h t
a d d
c a t u l l .
6 2 .
3 9
u t
f l o s . .
|
q u e m
m u l c e n t
a u r a e ,
f i r m a t
s o l ,
e d u c a t
ψ υ χ ὴ ν
ἀ τ ά λ λ ω ν .
c p .
1 4 4
τ ὸ
γ ὰ ρ
ν ε ά ζ ο ν
ἐ ν
τ ο ι ο ῖ σ δ ε
β ό σ κ ε τ α ι
χ ώ ρ ο ι σ ι ν
α ὐ τ ο ῦ
e t c .
( n . ) .
t h e
w o r d
ἀ τ ά λ λ ω
( w h i c h
i n
i l .
1 3 .
2 7
t h e
s e n s e
o f
' c h e r i s h i n g ʼ
i n
h o m .
e p i g r .
4 .
ν ή π ι ο ν
α ἰ δ ο ί η ς
ἐ π ὶ
γ ο ύ ν α σ ι
μ η τ ρ ὸ ς
ἀ τ ά λ λ ω ν ,
a n d
p i n d .
f r .
2 1 4
γ λ υ κ ε ῖ ά
κ α ρ δ ί α ν
ἀ τ ά λ λ ο ι σ α . .
ἐ λ π ί ς .
t h e
h o m e r i c
f o r m
i n
t h i s
s e n s e
i s
ἀ τ ι τ ά λ λ ω ,
o d .
1 8 .
3 2 3
π α ῖ δ α
δ ὲ
ἀ τ ί τ α λ λ ε .
t h e
w o r d
ἀ τ ά λ λ ω
m a y
h a v e
b e e n
s u g g e s t e d
t o
s o p h o c l e s
b y
t r a i t
i n
t h e
s c e n e
b e t w e e n
h e c t o r
a n d
a n d r o m a c h è :
i l .
6 .
4 0 0
π α ῖ δ ʼ
ἐ π ὶ
κ ό λ π ῳ
ἔ χ ο υ σ ʼ
ἀ τ α λ ά ν ή π ι ο ν
α ὔ τ ω ς .
x α ρ μ ο ν ή ν
m i g h t
b e
a c c .
i n
a p o s .
w i t h
ψ υ χ ὴ ν
o n l y ;
b u t
i s
b e t t e r
a c c .
w i t h
t h e
w h o l e
s e n t e n c e
( s e e
o n
e l .
1 3 0
ἥ κ ε τ ’
ἐ μ ῶ ν
κ α μ ά τ ω ν
π α ρ α c o n j e c t u r e
χ α ρ μ ο ν ή
i s
n o
( π ύ ρ γ ω ν ) ,
i .
t .
1 2 2 7
( ν α ῶ ν ) .
5 6 3
τ ρ ο φ ῆ ς
a n y
a d j .
c o m p o u n d e d
w i t h
p r i v a t i v u m
c a n
t a k e
a
g e n i t i v e ;
a n d
h e r e
t h e
g e n .
i s
t h e
m o r e
n a t u r a l
s i n c e
ἄ ο κ ν ο ς
s u g g e s t s
t h e
n o t i o n
o f
ἀ φ ε ι δ ή ς . — ἔ μ π α
:
t h i s
f o r m
o c c u r s
i n
p i n d .
n .
4 .
3 6 ,
a n d
c a l l i m .
e p i g r .
1 3
( κ α ί
σ φ ι ν
ἀ ν ι η ρ ὸ ν
μ ὲ ν
ἐ ρ ε ῖ ς
ἔ μ π α
δ ὲ
λ έ ξ ο ν ) .
d o r i c
f o r m
ἔ μ π ᾱ ν
i s
u s e d
b y
p i n d .
p .
5 .
5 1 .
i n
1 4 4
a n d
a s
a n t .
8 4 5 ,
w e
h a v e
ἔ μ π α ς .
( t h e
f o r m
ἔ μ π α κ ʼ ,
o n c e
r e a d
h e r e ,
w a s
m e r e
b l u n d e r :
s e e
c r .
n . ) —
κ ε ἰ
s t a n d s
h e r e
( a s
i n
6 9 2
a n d
9 6 2 )
w h e r e
ε ἰ
κ α ί
w o u l d
b e
n o r m a l ,
s i n c e
t h e
r e f e r e n c e
i s
t o
a n
a c t u a l
c p .
o .
a p p e n d i x
o n
v .
3 0 5 ,
p .
2 4 4 .
5 6 4
p r o p e r l y
' o f
d i s t a n t
( ὤ ψ ) ,
h e r e
m e r e l y
2 1 6
β ο ᾷ
τ η λ ω π ὸ ν
e i .
1 6 5
f o r
t h e
p e r i p h r a s i s ,
c p .
5 4 0 :
p h .
8 3 9
θ ή ρ α ν
|
τ ή ν δ ʼ
ἁ λ ί ω ς
ἔ χ ο μ ε ν .
h e
h a d
g o n e
o n
f o r a y
( 3 4 3 )
h i g h l a n d s
o f
m y s i a
( 7 2 0 ) .
5 6 5
f .
ἀ σ π ι σ τ ῆ ρ ε ς .
t h e
s a l a m i n i a m
f o l l o w e r s
o f
a j a x
a r e
a t
o n c e
s e a m e n
a n d
a s
t h u c .
( i .
1 0
§
4 )
s a y s
o f
t h e
5 6 0
i t
i s
s t r a n g e
t h a t
e x c e p t i o n
g r e e k s
w h o
w e n t
a g a i n s t
2 8
σ ο φ ο κ λ ε ο υ ς
α θ .
τ ί
δ ῆ τ α
τ ὸ ν
δ ύ σ τ η ν ο ν
ἐ ρ γ ά σ ε ι
κ α κ ό ν ;
α ι .
α θ .
τ ὸ ν
ὧ δ έ
α ι .
ἀ θ ά ν α ,
τ ἄ λ λ ’
σ ʼ
κ ε ῖ ν ο ς
δ ὲ
τ ε ί σ ε ι
τ ή ν δ ε
κ ο ὐ κ
ἄ λ λ η ν
α θ .
σ ὺ
δ ʼ
ο ὖ ν ,
τ έ ρ ψ ι ς
ἦ δ ε
σ ο ι
δ ρ ᾶ ν ,
χ ρ ῶ
χ ε ι ρ ί ,
μ η δ ὲ ν
ἐ ν ν ο ε ῖ ς .
α ι .
χ υ ρ ῶ
τ ο ι ά ν δ ʼ
ἀ ε ί
μ ο ι
σ ύ μ μ α χ ο ν
π α ρ ε σ τ ά ν α ι .
α θ .
τ ὴ ν
τ ί ς
ἄ ν
π ρ ο ν ο ύ σ τ ε ρ ο ς ,
δ ρ ᾶ ν
ἀ μ ε ί ν ω ν
η ὑ ρ έ θ η
κ α ί ρ ι α ;
ο δ .
ἐ γ ὼ
μ ὲ ν
ο ὐ δ έ ν '
ο ἶ δ ʼ ·
ἐ π ο ι κ τ ί ρ ω
ν ι ν
δ ύ σ τ η ν ο ν
κ α ί π ε ρ
ὄ ν τ α
δ υ σ μ ε ν ῆ ,
1 1 0
1 2 0
1 1 0
1 0 9
ἐ ρ γ ά σ ε ι
b r u n c k
ἐ ρ γ ά σ ῃ
m s s . ,
m e a n t
p r o b a b l y
f o r
t h e
f u t .
θ ά ν ῃ ]
b o t h e
a n d
m e i n e k e
c o n j .
φ α ν ῇ
( a s
m e k l e r
n o w
r e a d s ) :
d i n d o r f ,
δ α μ ῇ ;
m a d v i g ,
φ θ ά ν ῃ
o .
h e n s e ,
β α φ ῇ .
1 1 1
δ ύ σ τ η ν ο ν ]
w o l f
c o n j .
δ ε ί λ α ι ο ν ,
t o
a v o i d
r e p e a t i n g
t h e
w o r d
u s e d
i n
1 0 9 .
c p .
c r . n .
o n
1 0 0 0 .
1 1 2
ἐ γ ώ
σ ʼ
ἐ φ ί ε μ α ι ]
ἔ γ ω γ ε
σ ʼ
ἐ φ ί ε μ α ι
l ,
w i t h
γ
a n d
s o m e
o t h e r s
w h e n c e
s c h n e i d e w i n
c o n j .
ἔ γ ω γ έ
ε ὔ χ ο μ α ι
1 1 3
τ ε ί σ ε ι ]
τ ί σ ε ι
m s s .
f o r
t h e
s p e l l i n g ,
( n o t i n g
t h a t
ἐ φ ί ε μ α ι
r e c u r s
i n
1 1 6 ) .
s e e
c o m m .
o n
o .
8 1 0 .
1 1 4
ἥ δ ε
l ,
a ,
w i t h
m o s t
m s s . ,
a n d
a l d . ;
ὧ δ ε
r
( p a l . ,
t ,
e t c . ) ,
a n d
a s
v . l .
i n
a n d
o t h e r s .
1 1 5
ἐ ν ν ο ε ῖ ς ]
ν ο ε ῖ ς
γ . — i n
t h e
f i r s t
c o l u m n a m
π ρ ὸ ς
κ ί ο ν α
( p r o p e r l y ,
t a k e
a n d
b i n d
t o
p i l l a r ' ) ,
n o t
π ρ ὸ ς
κ ί ο ν ι ,
w a s
t h u s
t h e
u s u a l
p h r a s e ;
b u t
a r t e m i d o r u s
( c .
1 6 0
a . d . )
o n e i r o c r .
1 .
7 8
π ρ ο σ δ ε θ ε ὶ ς
κ ί ο ν ι
ἔ λ α β ε
π λ η γ ὰ ς
π ο λ λ ά ς .
c p .
2 4 0 . — κ ί ω ν
i s
m a s c .
i n
a t t i c .
h e r o d o t u s
u s e s
i t
i n
b o t h
( f e m .
1 .
m a s c .
4 .
1 8 4 ) .
w i t h
p i n d a r
i t
i s
a l w a y s
f e m . ;
a n d
u s u a l l y
s o
t h e
o d y s s e y ,
b u t
n o t
a l w a y s ;
i n
o d .
8 .
6 6 ,
π ρ ὸ ς
κ ί ο ν α
μ α κ ρ ὸ ν
ἐ ρ ε ί σ α ς ,
t h e
m a s c .
h a s
m e t r i c a l
m o t i v e ,
b u t
n o t
i n
1 9 .
3 8 ,
κ ί ο ν ε ς
ὑ ψ ό σ ʼ
ἔ χ ο ν τ ε ς .
1 0 9
ἐ ρ γ ά σ ε ι .
i n
v .
1 0 7
s h e
c o n t i n u e d
h i s
s e n t e n c e ;
h e r e ,
f e i g n i n g
k e e n e r
a l a r m ,
s h e
i n t e r r u p t s
r e a d s
( a o r . ) ,
d e p e n d i n g
o n
π ρ ὶ ν
w h i c h
n o t
o n l y
i s
w e a k e r ,
b u t
r e q u i r e s
δ ή σ α ς
i n s t e a d
δ ε θ ε ὶ ς
i n
1 0 8 .
1 1 0
π ρ ὶ ν
θ ά ν ῃ .
a f t e r
θ α ν ε ῖ ν
γ ὰ ρ
α ὐ τ ὸ ν
ο ὔ
τ ί
π ω
θ έ λ ω
( 1 0 6 ) ,
w e
s h o u l d
h a v e
h a d
π ρ ὶ ν
φ ο ι ν ι χ θ ῇ .
b u t
t h e
e m p h a s i s
o n
π ρ ῶ τ ο ν
ν ῶ τ α
φ ο ι ν ι χ θ ε ὶ ς
s e r v e s
t o
e x c u s e
p r e s e n c e
o f
θ ά ν ῃ , — a d d e d ,
f o r
t h e
s a k e
o f
g r e a t e r
c l e a r n e s s ,
a f t e r
t h e
l o n g
i n t e r v a l .
s o
i n
t r .
1 1 3 0
h y l l u s
o f
d e i a n e i r a ,
τ έ θ ν η κ ε ν ,
a n d
t h e n
i n
1 1 3 3
h e r a c l e s ,
ο ἴ μ ο ι ·
π ρ ὶ ν
ὡ ς
χ ρ ῆ ν
σ φ ʼ
ἐ ξ
ἐ μ ῆ σ
θ α ν ε ῖ ν
χ ε ρ ό ς ;
w h e r e
t h e
s t r e s s
o n
τ ῆ ς
ἐ μ ῆ ς
s i m i l a r l y
p a l l i a t e s
t h e
i l l o g i c a l
f o r m
o f
t h e
s e n t e n c e . — φ ο ι ν ι χ θ ε ὶ ς :
e u r .
h e c .
1 5 3
φ ο ι ν ι σ σ ο μ έ ν η ν
α ἵ μ α τ ι .
a r .
a c h .
3 2 0
κ α τ α ξ α ί ν ε ι ν
τ ὸ ν
ἄ ν δ ρ α
τ ο ῦ τ ο ν
ε ἰ ς
φ ο ι ν ι κ ί δ α .
1 1 1
α ἰ κ ί σ ῃ ;
c p .
o .
t .
1 1 5 3
μ ὴ
δ ῆ τ α ,
π ρ ὸ ς
θ ε ῶ ν ,
τ ὸ ν
γ έ ρ ο ν τ ά
μ ʼ
α ἰ κ ί σ ῃ
1 1 2
χ α ί ρ ε ι ν . . σ '
ἐ φ ί ε μ α ι .
i t
s e e m s
b e s t
t o
s u p p o s e
t h a t
t h e
c o n s t r .
i s
ἐ φ ί ε μ α ι
χ α ί ρ ε ι ν
σ ε ,
i s
m y
i n j u n c t i o n
t h a t
t h o u
h a v e
t h y
w i l
i n
a l l
e l s e . ’
c p .
o .
t .
1 0 5 4
f .
ὅ ν τ ι ν ʼ
ἀ ρ τ ί ω ς |
μ ο λ ε ῖ ν
ἐ φ λ μ έ μ ε σ θ α :
w h e r e
t h e
a c c .
b e l o n g s
t o
t h e
i n f .
t h e r e
i s
n o
e x a m p l e
o f
ἐ φ ί ε μ α ί
τ ι ν α
( i n s t e a d
o f
τ ι ν ι )
π ο ι ε ῖ ν
τ ι ;
t h o u g h
w e
f i n d
t r .
1 2 2 1
δ ή
ἐ σ ι σ κ ή π τ ω ,
l i k e
κ ε λ ε ύ ω
τ ι .
n o r
d o e s
t h e
s e n s e
h e r e
r e q u i r e
t h a t
σ ε
s h o u l d
b e
t h e
o b j e c t
o f
ἐ φ ί ε μ α ι . — r e m a r k
t h e
o b j e c t i o n
t o
r e n d e r i n g
ἐ φ ί ε μ α ι
h e r e
d e s i r e ' :
w h e n
t h e
v e r b
h a s
t h a t
s e n s e ,
w i t h
a n
i n f . ,
i t s
s u b j e c t
i s
t h e
s a m e
t h a t
o f
t h e
i n f . :
e . g .
1 3 1 5
σ ο υ
τ υ χ ε ῖ ν
ἐ φ έ ε μ α ι ,
ἄ κ ο υ σ ο ν .
f u r t h e r ,
t h e
s e n s e ,
' e n j o i n , '
' c o m m a n d , '
b e t t e r
s u i t s
t h e
i n s a n e
ὕ β ρ ι ς
t h e
i m p r e c a t i o n
o n
t h e
g r e e k
a r m y
x x x i x
i n
t h e
f i n a l
s o l i l o q u y
o f
a j a x ,
h i s
c h a n g e
o f
m o o d
i s
h i s
i m o b s c u r e d
b y
a n o t h e r
s e n t i m e n t
w h i c h
m o d e r n s
m i g h t
t h i n k
i n c o n s i s t e n t
w i t h
i t , — v i z . ,
h i s
f i e r c e
v i n d i c t i v e n e s s
t o w a r d s
t h o s e
g r e e k s .
w h o
h a d
g i v e n
t h e
a w a r d
o f
t h e
a r m s
a g a i n s t
h i m
( v v .
8 3 5
f f . )
a n d
c a l l
f o r
h e l p
t o
t h e
m a i d e n s
w h o
l i v e
f o r
e v e r ,
a n d
e v e r
l o o k
o n
a l l
t h e
w o e s
o f
m e n ,
t h e
d r e a d ,
f a r - s t r i d i n g
l e t
t h e m
m a r k
h o w
m y
m i s e r a b l e
l i f e
i s
b l a s t e d
b y
t h e
a t r e i d a e .
a n d
m a y
t h e y
o v e r t a k e
t h o s e
e v i l
m e n
w i t h
d o o m
m o s t
e v i l
a n d
w i t h
u t t e r
b l i g h t ! . . .
c o m e ,
y e
s w i f t
a n d
v e n g e f u l
f u r i e s ,
g l u t
y o u r
w r a t h
o n
a l l
h o s t ,
a n d
s p a r e
t o
t h e
a n c i e n t s ,
h o w e v e r ,
s u c h
u t t e r a n c e s
w o u l d
h a v e
s e e m e d
p e r f e c t l y
c o m p a t i b l e
w i t h
t h e
a l t e r e d
m o o d
a j a x .
h e
h a s
c o m e
t o
s e e
t h a t
h e
e r r e d
i n
h i s
o v e r - w e e n i n g
s e l f r e l i a n c e ;
h e
' y i e l d s
t o
t h e
g o d s ʼ
a n d
a c k n o w l e d g e s
t h a t
t h e
o f f i c e
o f
h u m a n
r u l e r s
c l a i m s
r e s p e c t
b u t
h e
a l s o
f e e l s
i m p l a c a b l e
r e s e n t m e n t
f o r
w r o n g .
' b e n e f i t
t h y
f r i e n d s
a n d
h u r t
t h y
f o e s , ʼ
w a s
t h e
r e c e i v e d
g r e e k
m a x i m .
n o w
a n d
a g a i n
a
h i g h e r
e t h i c a l
t e a c h i n g
d e c l a r e s
t h a t
t h e
j u s t
m a n
w i l
n o t
k n o w i n g l y
i n j u r e
a n y
o n e 1 .
b u t
m a n
m i g h t
b e
m o r a l l y
g o o d ,
i n
t h e
o r d i n a r y
g r e e k
v i e w ,
a n d
a l s o
p i o u s
( ε ὐ σ ε β ή ς ) ,
w i t h o u t
a c c e p t i n g
t h a t
d o c t r i n e
s o l o n ,
w h o
w a s
e s t e e m e d
b o t h ,
p r a y s
t h a t
h e
m a y
b e
t o
h i s
f r i e n d s
a n d
b i t t e r
t o
h i s
f o e s 2 ' :
p i n d a r ,
p r e - e m i n e n t l y
r e l i g i o u s
p o e t ,
w h o
s p e a k s
a s
w i t h
t h e
v o i c e
o f
d e l p h i ,
e x p r e s s e s
l i k e
s e n t i m e n t .
s t r i k i n g
p a r a l l e l
t o
t h e
c a s e
o f
a j a x
h e r e
i s
p r e s e n t e d
b y
t h a t
o f
o e d i p u s
a t
c o l o n u s .
o e d i p u s
h a s
f o u n d
r e s t
a n d
p e a c e
a t
t h e
s h r i n e
o f
t h e
h e
h a s
b e e n
r e c o n c i l e d
w i t h
t h e
g o d s ;
h e
i s
a l r e a d y
i n v e s t e d
w i t h
k i n d
o f
s a n c t i t y ;
h e
i s
o n
h i s
w a y —
l i k e
a j a x — t o
c o n s e c r a t i o n
a s
h e r o
a n d
i t
i s
i n
t h e s e
c i r c u m s t a n c e s
t h a t
h e
u t t e r s
t h e
a p p a l l i n g
i m p r e c a t i o n s
o n
h i s
s o n s .
s t i l l ,
i n
o n e
r e s p e c t
t h e
v i n d i c t i v e n e s s
o f
a j a x
m u s t
a p p e a r
m o n s t r o u s ;
h e
i n v o k e s
d e s t r u c t i o n ,
n o t
o n l y
o n
t h e
c h i e f s ,
b u t
1
p l a t .
r e p .
1 .
3 3 5
ο ὐ κ
ἄ ρ α
τ ο ῦ
δ ι κ α ί ο υ
β λ ά π τ ε ι ν
ἔ ρ γ ο ν . . . ο ὔ τ ε
φ ί λ ο ν
ο ὔ τ ʼ
ἄ λ λ ο ν
ο ὐ δ έ ν α
i n
o p p o s i t i o n
t o
t h e
c o m m o n
m a x i m
( i b .
a ) ,
δ ί κ α ι ο ν
ε ἶ ν α ι
τ ὸ ν
μ ὲ ν
φ ί λ ο ν
ε ὖ
π ο ι ε ῖ ν ,
τ ὸ ν
δ ὲ
ἐ χ θ ρ ὸ ν
κ α κ ῶ ς .
2
f r a g .
1 3 .
( b e r g k ) ,
ε ἶ ν α ι
δ ὲ
γ λ υ κ ὺ ν
ὧ δ ε
ἐ χ θ ρ ο ῖ σ ι
δ ὲ
π ι κ ρ ό ν .
3
p y t h .
2 .
8 3
φ ί λ ο ν
ε ἴ η
φ ι λ ε ῖ ν ·
|
π ο τ ὶ
δ ʼ
ἐ χ θ ρ ὸ ν
ἄ τ ʼ
ἐ χ θ ρ ὸ ς
ἐ ὼ ν
λ ύ κ ο ι ο
δ ί κ α ν
ὑ π ο θ ε ύ σ ο μ α ι .
6 2
σ ο φ ο κ λ ε ο υ ς
χ ο .
ἀ λ λ ʼ
α ἰ δ ῶ
β λ έ ψ α ς
λ ά β ο ι .
τ ε .
δ ι ο ί γ ω ·
π ρ ο σ β λ έ π ε ι ν
δ ʼ
ἑ ξ ε σ τ ί
σ ο ι
τ ο ῦ δ ε
π ρ ά γ η ,
κ α ὐ τ ὸ ς
ὡ ς
ἔ χ ω ν
κ υ ρ ε ῖ .
σ τ ρ .
α ' .
α ι .
2
φ ί λ ο ι
ν α υ β ά τ α ι ,
μ ό ν ο ι
ἐ μ ῶ ν
φ ί λ ω ν
ὀ ρ θ ο ῷ
4
ἴ δ ε σ θ έ
ο ἷ ο ν
ἄ ρ τ ι
κ ῦ μ α
φ ο ι ν ί α ς
ὑ π ὸ
ζ ά λ η ς
ἀ μ φ ί δ ρ ο μ ο ν
κ υ κ λ ε ῖ τ α ι .
χ ο .
ο ἴ μ ʼ
ὡ ς
ἔ ο ι κ α ς
ὀ ρ θ ὰ
μ α ρ τ υ ρ ε ῖ ν
ἄ γ α ν .
δ η λ ο ῖ
δ ὲ
ἀ φ ρ ο ν τ ί σ τ ω ς
α ι .
ἰ ὼ
ν α ΐ α ς
3 4 5
3 5 0
3 5 5
3 4 4
h a s
t h e
o f
ἔ ο ι κ ε ν
f r o m
l a t e r
h a n d . - — ἀ ν ο ί γ ε τ ε ]
w e c k l e i n
w r i t e s
ἄ ν ο ι γ ε
δ ή .
3 4 5
κ ἀ π ʼ ]
m a d e
i n
f r o m
t h i s
i s
e x p l a i n e d
b y
t h e
f a l s e
r e a d i n g
χ ύ π ʼ
ἐ μ ο ῦ
3 4 8
f .
ἰ ὼ . .
φ ί λ ω ν
o n e
i n
ἐ μ ὲ
β λ έ ψ α ς .
a j a x ,
w h o s e
m o t h e r
w a s
e r i b o e a
( 5 6 9 ) .
t h e
p h r a s e
ἀ ε ὶ
χ ρ ό ν ο ν
i s
f r e q u e n t .
t h e
s e p a r a t i o n
o f
τ ὸ ν
d e s e r v e s
n o t i c e ,
a s
s u g g e s t i n g
t h e
p o s s i b i l i t y
h a t
τ ὸ ν
ἀ ε ἰ
m a y
s o m e t i m e s
h a v e
b e e n
u s e d
( w i t h o u t
χ ρ ό ν ο ν )
u s a g e
w h i c h ,
h o w e v e r ,
l a c k s
p r o o f :
s e e
o n
e l .
1 0 7 5 . —
h e
g o n e
t o
t h e
o f
m y s i a
( 7 2 0 ) ,
p u r s u i t
o f
f o e s ʼ
( 5 6 4 )
t o
b e
d e s p o i l e d .
c p .
t h u c .
i .
i i
( t h e
a t
t r o y )
φ α ί ν ο ν τ α ι . . . π ρ ὸ ς
γ ε ω ρ γ ί α ν
τ ῆ ς
χ ε ρ σ ο ν ή σ ο υ
τ ρ α π ό μ ε ν ο ι
κ α ὶ
λ ῃ σ τ ε ί α ν
τ ῆ ς
τ ρ ο φ ῆ ς
ἀ π ο ρ ί ᾳ .
t h e
i l i a d
g l a n c e s
a t
s u c h
p r e d a t o r y
e x p e d i t i o n s
i .
3 2 8 ) . — n o t e
t h e
l i g h t
t o u c h
w i t h
w h i c h
t h e
p o e t
a c c o u n t s
f o r
t h e
a b s e n c e
o f
t e u c e r — a
n e c e s s i t y
o f
t h e
s i n c e
t e u c e r
m i g h t
h a v e
a v e r t e d
h i s
b r o t h e r ʼ s
s u i c i d e .
3 4 4
ἀ ν ο ί γ ε τ ε :
u s u a l
f o r m
o f
s u m m o n s ,
a d d r e s s e d
t o
n o
p a r t i c u l a r
p e r s o n ,
b u t
t o
t h e
i n m a t e s
o f
t h e
h o u s e
g e n e r a l l y ;
a e s c h .
c h .
8 7 7
ἀ λ λ ʼ
ἀ ν ο ί ξ α τ ε :
a d e l p h .
4 .
2 6
a p e r i t e ,
a l i q u i s .
a j a x
h a d
π ρ ό σ π ο λ ο ι ,
t h o u g h
t h e y
w e r e
n o t
a t
t h i s
t i m e
i n
t h e
h o u s e
( 5 3 9 ) . — w e
s h o u l d
n o t
e x p l a i n
t h e
p l u r .
a d d r e s s e d
b y
t h e
c h o r e g u s
t o
t h e
c h o r e u t a e
a n d
κ ἀ π ʼ
ἐ μ ω ὶ :
f o r
t h i s
m o d e s t
κ α ί ,
c p .
p h .
1 9 2
ε ἴ π ε ρ
κ ἀ γ ώ
τ ι
φ ρ ο ν ῶ ,
a n d
n .
o n
a n t .
7 1 9 .
s h o u l d
n a t u r a l l y
g o
w i t h
κ ἀ π ʼ
ἐ μ ο ί ,
t h o u g h
β λ έ π ε ι ν
ἐ π ί
τ ι ν ι
s e e m s
t o
o c c u r
e l s e ,
a n d
ἐ π ι β λ έ π ε ι ν
τ ι ν ί
o n l y
i n
l u c i a n
a s t r .
2 0
κ α ὶ
σ φ ί σ ι
γ ι ν ο μ έ ν ο ι σ ι
μ ὲ ν
ἀ φ ρ ο δ ί τ η
δ ὲ
ὁ
( ' l o o k e d
w i t h
f a v o u r ' ) .
t h e
a l t e r n a t i v e
i s
t o
t a k e
ἐ π ʼ
ἐ μ ο ί
a s =
m y
c a s e , '
a n d
β λ έ ψ α ς
e p e x e g e t i c ;
b u t
t h i s
i s
c e r t a i n l y
h a r s h .
3 4 6
f .
δ ι ο ί γ ω :
c p .
o .
1 2 8 7
δ ι ο ί γ ε ι ν
κ λ ῇ θ ρ α ,
a n d
i b .
d e e d s ;
t h e
ἐ κ κ ύ κ λ η μ α
i s
n o w
p u s h e d
o n
t h r o u g h
t h e
c e n t r a l
d o o r .
i t
w a s
s m a l l
s t a g e ,
b u t
l a r g e
e n o u g h
t o
a l l o w
o f
a j a x
b e i n g
s h o w n
s u r r o u n d e d
b y
s o m e
o f
s l a u g h t e r e d
a n i m a l s .
t h e
w o r d
π ρ ά γ η
i n
3 4 7 ,
a n d
t h e
l a n g u a g e
o f
v v .
3 5 1
f f . ,
s h o w
t h a t
t h e
c a r n a g e
w a s
r e p r e s e n t e d .
t h e
o t h e r
p l a y s
i n
w h i c h
s o p h o c l e s
h a s
u s e d
t h e
e c c y c l e m a
a r e
t h e
a n t i g o n e
( 1 2 9 4 ,
w h e r e
s e e
n . ) ,
a n d
t h e
e l e c t r a
( 1 4 6 4
f . ,
n . ) .
a j a x ,
s i t i n g
a m o n g
h i s
v i c t i m s ,
a n d
m e d i t a t i n g
h i s
o w n
d e s t r u c t i o n ,
w a s
t h e
s u b j e c t
o f
f a m o u s
p i c t u r e
b y
t i m o m a c h u s
o f
b y z a n t i u m .
p h i l o s t r a t u s
v i t .
a p o l l .
2 .
2 2
5 )
t h u s
d e s c r i b e s
i t :
τ ὸ ν
α ἴ α ν τ α
τ ὸ ν
τ ἀ ν
τ ρ ο ί ᾳ
β ο υ κ ό λ ι α
κ α θ ῆ λ σ θ α ι
ἀ π ε ι ρ η κ ό τ α
[ c p .
v .
3 4 5
θ α κ ε ῖ ] ,
β ο υ λ ὴ ν
π ο ι ο ύ μ ε ν ο ν
κ α ὶ
